<html>
<h1><c>SafeTravels</c></h1>

<body>
	<p>At SafeTravels, we let the data speak for itself. We leverage publically available crime datasets to create visualizations so that you can understand what is occuring around you during your travels. Booking third-party rentals can be tough and some times reviews or ratings don't paint the full picture. SafeTravels helps you sleep soundly on your vacation. </p>

<p>Using the site is simple. Select your desitination and home cities. Next, enter the address of your destination rental. After that, our system does the rest and provides two visualizations to plan your trip.</p>



<form>

	<fieldset>

		<legend><b>Start Here</b></legend>
		Your Community Area:<br>
		<input type="number" name="firstname" size="2"><br>
		Destination Community Area:<br>
		<input type="number" name="lastname" size="2"><br><br>
		<input type="submit" value="Submit">
		<input type="reset">
	</fieldset>
</form>

<p><b>Feedback?<br></b>Email feedback@davecrob.com with any questions, comments, or suggestions.</p>

</body>

</html>
