<html>
<head>
<title>Home</title>
</head>



<body>
	
	<div style="background-color:gray;color:white;padding:20px;">

	<img src="IMG_8127.jpg" width="403.2" height="302.4" alt="Ha Long Bay, Vietnam">

	<h2>About Me.</h2>
	<p>My name is David Robinson and I graduated from the University of Illinois at Urbana-Champaign with a Bachelor's of Science in Accountancy. I am a Certified Public Accountant (CPA), working as an External Auditor for a Big 4 Public Accounting Firm.</p>

	<p>I have been interested in technology since I was a teenager, developing basic HTML and Javascript skills. In March of 2017, I committed to becoming proficient in Python as a hobby and to develop a diverse skillset. The financial services industry has begun to invest heavily in technology efforts to offer more forward-thinking services to their clients. As a result, I saw this as the perfect opportunity to get ahead of the curve.</p>

	<p>Currently, I am working on a few side projects as I learn different Pythom libraries. First, I am developing a Python based Enterprise Resource Planning System (ERP from the ground up using a Tkinter GUI and SQLite database. My eventual goal is to implement this ERP system via a web interface such as Django or Flask, however I am still in the infancy phase of the project. I undertook this project due to my experience working with client's ERP system outputs. One of my guiding principles for this project is to make an efficient, "packagable", audit-focused ERP system that provides the functionality for the client to run their business while reducing response time for year-end audits.</p>

	<p>You can find links to my GitHub page and LinkedIn page below. All questions, comments, and discussions are welcome!</p>

	<a href="https://www.linkedin.com/in/davidcrobinson2/">LinkedIn</a> <a href="https://github.com/davecrob2">GitHub</a>
</div>
</body>



